@model About

    <div id="fh5co-about-main" class="mb-2 text-left">
        <div class="fh5co-narrow-content">
            <div class="row row-bottom-padded-md m-0 p-2">
                    
                <div class="col-md-12 animate-box m-0 p-0" data-animate-effect="fadeInLeft">
                    <p class="text-white">@Html.Raw(Model.AboutText)</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
                            
