@model Career
<div class="col-md-12 career2">
    <ul style="list-style-type: none;" class="text-white">
        <div class="mb-3">
            <i class="fa-solid fa-building text-white fa-3x"></i>
        </div>
        <li style="position: relative;">
           <span style="font-size: 30px;">@Model.BusinessTime</span>
           <div class="circle2"></div>
        </li>
        <li>
            <span style="font-size: 20px;">@Model.BusinessCompany</span>
        </li>
        <li>
            <span style="font-size: 15px;">@Model.BusinessName</span>
        </li>
    </ul>
</div>
        
  
   

    
