<div class="mt-5" id="get-in-touch">
    <div class="fh5co-narrow-content">
        <div class="row">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <h1 class="text-info">İletişim</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <h6>7/24 bana ulaşabilirsiniz...</h6>
                <p><a href="contact" class="btn btn-info">Contact</a></p>
            </div>
            
        </div>
    </div>
</div>