<div class="fh5co-narrow-content m-0 text-white">
    <h3 class="fh5co-heading animate-box text-white" data-animate-effect="fadeInLeft">Kişisel</h3>
    <hr>
    <div class="row m-5">
        <div class="col-md-6">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                <div class="row m-0">
                    <div class="col-md-3 m-auto">
                        <i style="color:#17A2B8;" class="fa-solid fa-chess-knight fa-5x mt-4"></i>
                    </div>
                    <div class="fh5co-text col-md-9">
                        <h3 class="text-left text-white mb-2">Strateji</h3>
                        <p class="text-left" style="font-size: 15px;">
                            Hayat , atletizm olimpiyatındaki 'uzun atlama' branşı gibi, 
                            en uzağa atlamak için öncesinde ufak adımlar atmak lazım.
                            Temkinli ilerleyip sonunda büyük sıçramalar atmayı düşünüyorum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                <div class="row m-0">
                    <div class="col-md-3 m-auto">
                        <i style="color:#17A2B8;" class="fa-solid fa-magnifying-glass fa-5x mt-4"></i>
                    </div>
                    <div class="fh5co-text col-md-9">
                        <h3 class="text-left text-white mb-2">Araştırmak</h3>
                        <p class="text-left" style="font-size: 15px;">
                            Her gün yeni bir şeyler öğrenmek zihnimi ve özgüvenimi ayakta tutuyor.
                            Hayat felsemem : "Bugünün dünden daha verimli geçmesi". 
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                <div class="row m-0">
                    <div class="col-md-3 m-auto">
                        <i style="color:#17A2B8;" class="fa-solid fa-crosshairs fa-5x mt-4"></i>
                    </div>
                    <div class="fh5co-text col-md-9">
                        <h3 class="text-left text-white mb-2">Hedef</h3>
                        <p class="text-left" style="font-size: 15px;">
                            Hayatımı hedefler ve amaçlar üstüne kuruyorum. On küsürün üstün de
                            projem var. Hayat ne gösterir bilinmez ama şimdi ki hedeflerim arasında
                            projelerimi hayata geçirmek var. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                <div class="row m-0">
                        <div class="col-md-3 m-auto">
                            <i style="color:#17A2B8;" class="fa-solid fa-circle-info fa-5x mt-4"></i>
                        </div>
                        <div class="fh5co-text col-md-9">
                            <h3 class="text-left text-white mb-2">Uzmanlık</h3>
                            <p class="text-left" style="font-size: 15px;">
                                Yazılım sektörün de birden çok dil , İnşaat şektöründe de birden çok program biliyorum. Fakat uzmanım diyemem çünkü
                                bilginin sonu yoktur. Her zaman öğrenecek bir şey vardır.
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
