@model School

    <tbody>
        <tr>
            <th scope="row">#</th>
            <td>@Model.SchoolName</td>
            <td>@Model.SchoolEpisode</td>
            <td>@Model.SchoolLisans</td>
            <td>@Model.SchoolYear</td>
        </tr>
    </tbody>
        