@model AboutListViewModel
<div class="row m-0">
    <div class="col-md-12 mt-4 mb-4">
        <h3 class="mt-4 mb-4">About Header Controller</h3>
        <hr>
        <a class="btn btn-info btn-sm" href="/abouts">About</a>
        <table class="table text-white table-bordered mt-3">
            <thead>
                <tr>
                    <td></td>
                    <td>Header</td>
                    <td>Text</td>
                    <td>Onaylı</td>
                    <td>
                        <a href="/admin/abouts/create" class="mt-0 btn-sm btn-success about-delete rounded-0 float-right">
                            <i class="fa-solid fa-plus"></i> Add
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Abouts.Count>0)
                {
                    @foreach (var item in Model.Abouts)
                    {
                        <tr>
                            <td><i class="fa-solid fa-address-card fa-2x"></i></td>
                            <td>@item.AboutBaslik</td>
                            <td>@Html.Raw(item.AboutText)</td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    <i class="fas fa-check-circle text-success"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle text danger"></i>
                                }
                            </td>
                            <td style="width: 200px;">
                                <a href="/Admin/AboutEdit/@item.AboutBaslikId" class="btn btn-warning btn-sm mr-2">Edit</a>
                                <form action="/Admin/AboutDelete" method="POST" style="display: inline-block;">
                                    <input type="hidden" name="AboutBaslikId" value="@item.AboutBaslikId">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                            
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>
                            No Products
                        </h3>
                    </div>
                }

            </tbody>

        </table>

    </div>

</div>