@model AboutListViewModel
@{
    ViewBag.Title = "Yetenek Listesi";
}
<div class="row m-0">
    <div class="col-md-12">
        <h3 class="mt-4 mb-4">Career Controller</h3>
        <hr>
        <a class="btn btn-info btn-sm" href="/">About</a>
        <table class="text-white table table-bordered m-0 mt-3">
            <thead> 
                <tr>
                    <td></td>
                    <td>Company</td>
                    <td>Name</td>
                    <td>Time</td>
                    <td>Onaylı</td>
                    <td><a class="btn btn-success btn-sm float-right" href="/Admin/CareerCreate">Add</a></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Careers.Count>0)
                {
                    @foreach (var item in Model.Careers)
                    {
                        <tr>
                            <td><i class="fa-solid fa-address-card fa-2x"></i></td>
                            <td>@item.BusinessCompany</td>
                            <td>@item.BusinessName</td>
                            <td>@item.BusinessTime</td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    <i class="fas fa-check-circle text-success"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle text danger"></i>
                                }
                            </td>
                            <td style="width: 200px;">
                                <a href="/Admin/CareerEdit/@item.BusinessId" class="btn btn-warning btn-sm mr-2">Edit</a>
                                <form action="/Admin/CareerDelete" method="POST" style="display: inline-block;">
                                    <input type="hidden" name="BusinessId" value="@item.BusinessId">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                            
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>
                            No Products
                        </h3>
                    </div>
                }

            </tbody>

        </table>

    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}