@model HomeBannerModel

<form asp-controller="Admin" asp-action="HomeBannerEdit" method="POST" enctype="multipart/form-data">
    @* verileri server'a dosya olarak taşıyan framework 'enctype' *@
    <div class="row m-0">
        <div class="col-md-12">
                <h3 class="mt-4 mb-4">Banner Edit</h3>
                <hr>
                <div class="row m-0">
                    <div class="col-md-8 p-0">
                        <input type="hidden" name="BannerId" value="@Model.BannerId">
                        <div class="form-group row m-2">
                            <label asp-for="BannerHeader" class="col-sm-2 col-form-label">BANNER HEADER</label>
                            <div class="col-sm-10">
                                <input  class="form-control" asp-for="BannerHeader">
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <label asp-for="BannerText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea id="editor" class="form-control" asp-for="BannerText">BANNER TEXT</textarea>
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <label asp-for="Bannerİmage" class="col-sm-2 col-form-label">BANNER IMAGE</label>
                            <div class="col-sm-10">
                                <input type="hidden" asp-for="Bannerİmage">
                                    <img src="~/images/@Model.Bannerİmage" width="80">
                                <input type="file" name="file">
                                @* buradaki file controller için önemli *@
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="IsHome" type="checkbox" class="custom-control-input">
                            <label asp-for="IsHome" class="custom-control-label">Anasayfa Onayı</label>
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
 </form>