@model ProjectModel


<form asp-controller="Admin" asp-action="ProjectEdit" method="POST" enctype="multipart/form-data">
    @* verileri server'a dosya olarak taşıyan framework 'enctype' *@
    <div class="row m-0">
        <div class="col-md-12">
                <h3 class="mt-4 mb-4">Project Edit</h3>
                <hr>
                <div class="row m-0">
                    <div class="col-md-8 p-0">
                        <input type="hidden" name="ProjectId" value="@Model.ProjectId">
                        <div class="form-group row m-2">
                            <label asp-for="ProjectHeader" class="col-sm-2 col-form-label">HEADER EDIT</label>
                            <div class="col-sm-10">
                                <input  class="form-control" asp-for="ProjectHeader">
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <label asp-for="ProjectText" class="col-sm-2 col-form-label">TEXT EDIT</label>
                            <div class="col-sm-10">
                                <textarea id="editor" class="form-control" asp-for="ProjectText"></textarea>
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <label asp-for="ProjectUrl" class="col-sm-2 col-form-label">URL EDIT</label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="ProjectUrl">
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <label asp-for="ProjectImageUrl" class="col-sm-2 col-form-label">IMAGE EDIT</label>
                            <div class="col-sm-10">
                                <input type="hidden" asp-for="ProjectImageUrl">
                                <img src="~/wwwroot/images/@Model.ProjectImageUrl" width="80">
                                <input type="file" name="file">
                                @* buradaki file controller için önemli *@
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span>Categories</span>
                        @foreach (var item in (List<CategoryPj>)ViewBag.CategoryProjects)
                        {
                        <div class="custom-control custom-checkbox mt-2">
                            
                            @* Any metodu bool (true-false) değer döndürür , eğer datadan gelen ile eşleşiyorsa
                                checked metodu ile checkboxlar işaretlenir. *@
                            <input type="checkbox" class="custom-control-input"
                                id="categorypj_@(item.CategoryProjectId)"
                                name="categoryIds"
                                value="@item.CategoryProjectId"
                                @(Model.SelectedProjectCategories.Any(i=>i.CategoryProjectId==item.CategoryProjectId)?"checked":"")>
                            <label class="custom-control-label" for="categorypj_@(item.CategoryProjectId)">@item.Name</label>
                        </div>
                        }
                        <hr>
                        <div class="custom-control custom-checkbox">
                            <input asp-for="IsApproved" type="checkbox" class="custom-control-input">
                            <label asp-for="IsApproved" class="custom-control-label">Yayınlama Onayı</label>
                        </div>
                        <div class="custom-control custom-checkbox mt-2">
                            <input asp-for="IsHome" type="checkbox" class="custom-control-input">
                            <label asp-for="IsHome" class="custom-control-label">Anasayfa Onayı</label>
                        </div>
                    </div>
                </div>
        </div>
    </div>
 </form>

 @section Scripts
 {
     <script src="/modules/ckeditor/ckeditor.js"></script>
     <script>
         CKEDITOR.replace('editor');
     </script>
 }