@model ProjectViewModel.ProjectListViewModel

<div class="row m-0">
    <div class="col-md-12">
        <h3 class="mt-4 mb-4">Admin Projects Controller</h3>
        <hr>
        <table class="table table-bordered mt-2 m-0 text-white">
            <thead>
                <tr>
                    <td style="width: 30px;"></td>
                    <td style="width: 100px;">Image</td>
                    <td>Name</td>
                    <td style="width: 90px;">Home</td>
                    <td style="width: 90px;">Is Approve</td>
                    <td style="width: 200px;">
                        <a class="btn btn-success btn-sm float-right" href="/admin/projects/create">
                            <i class="fa-solid fa-plus"></i> Add
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Projects.Count>0)
                {
                    @foreach (var item in Model.Projects)
                    {
                        <tr>
                            <td><i class="fa-solid fa-briefcase fa-2x"></i></td>
                            <td><img src="~/wwwroot/images/@item.ProjectImageUrl" width="80"></td>
                            <td>@item.ProjectHeader</td>
                            @* <td>@item.BlogPostCategories</td> *@
                            <td>
                                @if (item.IsHome)
                                {
                                    <i class="fas fa-check-circle text-success"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle text danger"></i>
                                }
                            </td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    <i class="fas fa-check-circle text-success"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle text-danger"></i>
                                }
                            </td>
                            <td>
                                <a href="/Admin/ProjectEdit/@item.ProjectId" class="btn btn-warning btn-sm mr-2">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </a>
                                <form action="/Admin/DeleteProject" method="POST" style="display: inline-block;">
                                    <input type="hidden" name="ProjectId" value="@item.ProjectId">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa-solid fa-circle-xmark"></i> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>
                            No Products
                        </h3>
                    </div>
                }

            </tbody>

        </table>

    </div>

</div>